.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: greenyellow;
    font-weight: bold;
    font-size: 5vw;
    border: 1vw solid wheat;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: auto;
    padding: 6vh;
    text-align: center;
}

body, html {
    height: 100%;
    margin: 0;
}
.bg-image {
    /* The image used */

    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}